/* line 17, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* FONTS ------------------------------------------------------- */
@font-face {
  font-family: FreightSansProLight;
  src: url(../fonts/FreigSanProLig.otf);
}

@font-face {
  font-family: FreightSansProBook;
  src: url(../fonts/FreigSanProBook.otf);
}

@font-face {
  font-family: FreightSansProMedium;
  src: url(../fonts/FreigSanProMed.otf);
}

@font-face {
  font-family: FreightSansProSemibold;
  src: url(../fonts/FreigSanProSem.otf);
}

/* GENERAL ELEMENTS ------------------------------------------------------------------------ */
/* line 84, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 87, ../sass/style.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: black;
  line-height: 1.125em;
}

/* NAVIGATION & FOOTER --------------------------------------------------------------------- */
/* line 97, ../sass/style.scss */
#audienceNavigation {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: #666361;
}
/* line 105, ../sass/style.scss */
#audienceNavigation div {
  margin: 0 auto;
  overflow: auto;
}
/* line 109, ../sass/style.scss */
#audienceNavigation div ul {
  margin-left: 140px;
}
/* line 115, ../sass/style.scss */
#audienceNavigation div li {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  height: 30px;
}
/* line 121, ../sass/style.scss */
#audienceNavigation div li a {
  font-family: 'FreightSansProBook';
  letter-spacing: .1em;
  font-size: .75em;
  color: #fff;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
/* line 132, ../sass/style.scss */
#audienceNavigation div li:hover, #audienceNavigation div li:focus {
  background: rgba(0, 0, 0, 0.4);
}

/* line 142, ../sass/style.scss */
#mainNavigation {
  position: relative;
  margin: 0;
  margin-top: 570px;
  width: 100%;
  height: 180px;
  background-color: #f06011;
  z-index: 1001;
}
/* line 153, ../sass/style.scss */
#mainNavigation div {
  margin: 0 auto;
  white-space: -4px;
}
/* line 158, ../sass/style.scss */
#mainNavigation div .logo {
  background: url("../images/logoNav.png") 0 0 no-repeat;
  width: 140px;
  height: 180px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}
/* line 168, ../sass/style.scss */
#mainNavigation div ul {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #ec5300;
  border-right: 1px solid #dc4f04;
}
/* line 175, ../sass/style.scss */
#mainNavigation div ul li {
  vertical-align: top;
  float: left;
  height: 100%;
  width: 25%;
  background: url(../images/navArrow.png) no-repeat 10% 80%;
  border: 0px solid;
  border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-width: 0 1px 0 1px;
  box-sizing: border-box;
}
/* line 187, ../sass/style.scss */
#mainNavigation div ul li img {
  position: relative;
  left: 10%;
  top: -10px;
}
/* line 188, ../sass/style.scss */
#mainNavigation div ul li:first-child {
  border-width: 0px 1px 0 1px;
}
/* line 191, ../sass/style.scss */
#mainNavigation div ul li:last-child {
  border-width: 0 0 0 1px;
}
/* line 195, ../sass/style.scss */
#mainNavigation div ul li:hover, #mainNavigation div ul li:focus {
  background: rgba(0, 0, 0, 0.05) url(../images/navArrow.png) no-repeat 10% 80%;
}
/* line 202, ../sass/style.scss */
#mainNavigation div h2 {
  font-family: 'FreightSansProBook';
  font-size: 1.3125em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
/* line 211, ../sass/style.scss */
#mainNavigation div aside {
  font-family: 'FreightSansProLight';
  font-size: .875em;
  line-height: 1.1875em;
  height: 80px;
  color: #f0c1a9;
  margin: 10px 20px 0 0;
  margin-left: 10%;
  margin-right: 10%;
}

/* HERO ------------------------------------------------------------------------------------- */
/* line 230, ../sass/style.scss */
#hero {
  width: 100%;
  top: 40px;
  overflow: hidden;
  text-align: center;
  position: fixed;
  z-index: -100;
  height: 530px;
  background: url(../images/diver.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 248, ../sass/style.scss */
#hero .caption {
  position: relative;
  top: 350px;
}
/* line 254, ../sass/style.scss */
#hero .caption h1 {
  font-family: 'FreightSansProSemibold';
  font-size: 5em;
  color: #ffffff;
  margin-bottom: .5em;
}
/* line 263, ../sass/style.scss */
#hero .caption h2 {
  font-family: 'FreightSansProLight';
  font-size: 1.3125em;
  color: #ffffff;
}

/* line 271, ../sass/style.scss */
#today {
  background-color: #fff;
  height: 604px;
}

/* GRID ----------------------------------------------------------------------------------- */
/* line 281, ../sass/style.scss */
#wrapper {
  width: 100%;
  background-color: #e6e6e6;
}

/* line 287, ../sass/style.scss */
#content {
  position: relative;
  margin: 0px auto;
  z-index: 1002;
  margin-top: -20px;
}

/* line 299, ../sass/style.scss */
.topBlock {
  margin-top: 80px;
}

/* line 303, ../sass/style.scss */
.quote {
  clear: left;
  font-family: 'FreightSansProLight';
  font-size: 1.875em;
  line-height: 1.2em;
  height: 240px;
  max-width: 940px;
  box-sizing: border-box;
  margin-bottom: 40px;
  color: #666666;
}
/* line 317, ../sass/style.scss */
.quote img {
  float: left;
}
/* line 318, ../sass/style.scss */
.quote h1 {
  padding-top: 50px;
  white-space: nowrap;
}

/* line 325, ../sass/style.scss */
.quoteRight {
  clear: left;
  font-family: 'FreightSansProLight';
  font-size: 1.875em;
  line-height: 1.2em;
  overflow: auto;
  box-sizing: border-box;
  margin-bottom: 40px;
  color: #666666;
}
/* line 339, ../sass/style.scss */
.quoteRight img {
  width: 534px;
  height: 491px;
  float: right;
}
/* line 340, ../sass/style.scss */
.quoteRight h1 {
  margin-top: 150px;
  margin-left: 100px;
}

/* line 349, ../sass/style.scss */
.block {
  float: left;
  margin-bottom: 40px;
}
/* line 355, ../sass/style.scss */
.block > div {
  box-shadow: 0px 0px 12px 12px rgba(0, 0, 0, 0.05);
}
/* line 359, ../sass/style.scss */
.block h1 {
  font-family: 'FreightSansProBook';
  font-size: 0.8125em;
  letter-spacing: .15em;
  display: inline-block;
  color: #fff;
  background-color: #5e924d;
  padding: 0px 10px 2px 10px;
  text-transform: uppercase;
}
/* line 370, ../sass/style.scss */
.block p {
  font-family: 'FreightSansProBook';
  font-size: 1em;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 20px;
}

/* line 383, ../sass/style.scss */
.primary h2 {
  font-family: 'FreightSansProSemibold';
  font-size: 1.875em;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 1em;
}
/* line 391, ../sass/style.scss */
.primary h2 span {
  font-family: 'FreightSansProLight';
  font-size: 1em;
  color: #666666;
}

/* line 401, ../sass/style.scss */
.secondary h2 {
  font-family: 'FreightSansProSemibold';
  font-size: 1.3125em;
  margin-left: 5%;
  margin-top: 20px;
  line-height: 1.1em;
}
/* line 408, ../sass/style.scss */
.secondary h2 span {
  font-family: 'FreightSansProLight';
  font-size: 1em;
  color: #666666;
}
/* line 416, ../sass/style.scss */
.secondary p {
  margin-bottom: 20px;
}

/* line 422, ../sass/style.scss */
.tertiary h2 {
  font-family: 'FreightSansProSemibold';
  font-size: .875em;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1em;
}
/* line 430, ../sass/style.scss */
.tertiary h2 span {
  font-family: 'FreightSansProLight';
  font-size: 1em;
  color: #666666;
}
/* line 437, ../sass/style.scss */
.tertiary h2 p {
  margin-bottom: 20px;
}

/* line 443, ../sass/style.scss */
.column {
  float: left;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}

/* line 448, ../sass/style.scss */
.full {
  width: 100%;
  max-width: 960px;
}

/* line 454, ../sass/style.scss */
.flexImage {
  width: 100%;
}

/* line 28, ../sass/style.scss */
.one {
  width: 6.25%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.two {
  width: 14.58333%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.three {
  width: 22.91667%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.four {
  width: 31.25%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.five {
  width: 39.58333%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.six {
  width: 47.91667%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.seven {
  width: 56.25%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.eight {
  width: 64.58333%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.nine {
  width: 72.91667%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.ten {
  width: 81.25%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.eleven {
  width: 89.58333%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.twelve {
  width: 97.91667%;
  margin-left: 2.08333%;
}

/* line 467, ../sass/style.scss */
.first {
  margin-left: 1.04167%;
}

/* line 471, ../sass/style.scss */
.last {
  margin-right: 1.04167%;
}

/* line 475, ../sass/style.scss */
#sidebar {
  outline-left: 1px solid rgba(26, 33, 39, 0.1);
}

/* TYPOGRAPHY ----------------------------------------------------------------------------- */
/* line 485, ../sass/style.scss */
.forceHeightMin {
  min-height: 1px;
}

/* line 486, ../sass/style.scss */
.forceHeightFull {
  min-height: 100%;
}

/* MEDIA QUERIES --------------------------------------------------------------------------- */
/*
@media screen and (max-width: 800px) {
      #mainNavigation{
            position:               relative;
            margin:                 0;
            top:                    220px;
            width:                  100%;
            height:                 180px;
            box-shadow:             0px -12px   64px #000;
            background-color:       rgba(240,96,17,1);
            z-index:1001;




            //clean up this nav, it's duplicated in the audience nav
            div{
                  margin:                 0 auto;
                  white-space:-4px;

                  ul {  
                        li {  
                             float:none;
                             width:auto;
                             padding:0 1em;
                             line-height: 2.8em;
                             height: auto;
                             cursor:pointer;
                             background:url(../images/navArrow.png) no-repeat 98% 50%;
                             
                              border-color: rgba(0,0,0,0.1) rgba(255,255,255,0.2) rgba(255,255,255,0.2) rgba(0,0,0,0.1);
                              border-width: 1px 0 1px 1px;

                             &:hover {
                                    background-color:       rgba(240,96,17,1);
                             }

                              &:first-child {
                                    border-width:0px 0 1px 1px;
                              }
                              &:last-child {
                                    border-width:1px 0px 1px 1px;
                              }

                        }

                  }

                  h2{   
                        font-family: 'FreightSansProBook';
                        font-size:              1em;
                        margin:0;
                  }

                  aside {
                        display:none;
                  }

            }
      }


      #audienceNavigation{
            position:               fixed;
            margin:                 0;
            top:                    0px;
            width:                  100%;
            height:                 40px;
            box-shadow:             0px -2px 8px #888;
            background-color:       rgba(102,99,97,1);
            z-index:1000;

            //clean up this nav, it's duplicated in the main nav
            div {
                  margin:           0 auto;
                  overflow:         auto; // key for div not collapsing 
         
                  ul {
                        margin-top:       10px;
                        margin-left:      20px;
                        //margin-left:      2.08333333333%; // (  20 / 960 ) * 100 
                        // float:            left;
                  }

                  li {  
                        display:          inline;  

                        a {
                              color:                  #FFFFFF;
                              padding-right:           10%;  
                              font-family:            'FreightSansProBook';
                              letter-spacing:         .1em;
                              font-size:              .5em;
                              margin:                 0;
                              text-decoration:        none;
                              @include transitionTo(  all, 0.2s, linear);

                              &:hover, &:focus{
                                    color:            #fff;
                                    background:       rgba(0,0,0,.4);
                              }
                        }
                  }

            }
      }


#hero {
      width:                  100%;
      top:                    40px;
      overflow:               hidden;
      text-align:             center;

      position:               fixed;
      z-index:                -100;
      height:                 180px;
      //margin:auto;

      background: url(../images/diver.png) no-repeat center center ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .caption {

            position:relative;
            top:350px;
             

            h1 {
                  font-family: 'FreightSansProSemibold';
                  font-size:   5em;
                  color: #ffffff;
                  margin-bottom:.5em; 
                  //letter-spacing:.1em;
                  
            }

            h2 {
                  font-family: 'FreightSansProLight';
                  font-size:   1.3125em;
                  color: #ffffff; 
            }
      }
}


}


@media screen and (max-width: 650px) {
      
      #nav{ 
            text-align:center; 

            ul {
                  width:            100%;
                  margin:           0;
            }

            li {
                  display:          block;
                  padding-top:      10px;
                  padding-bottom:   10px;
                  border-top:       1px dotted #000;
                  margin:           0;
                  overflow:         hidden;
            }
      }


      #hero {
            margin-top:0;
            height:500px;
      }

      #navigationWrap{
            position:relative;
      }

      .singleColumn {
            width:90%;
            margin-left: 5%;
            margin-right: 5%;
      }

      #story > p {
            font-size:1.1em;
      }
      
      #quote, #story, #sidebar {
            @extend .singleColumn;
      }

      
}
*/
