/* line 17, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* FONTS ------------------------------------------------------- */
@font-face {
  font-family: FreightSansProLight;
  src: url(../fonts/FreigSanProLig.otf);
}

@font-face {
  font-family: FreightSansProBook;
  src: url(../fonts/FreigSanProBook.otf);
}

@font-face {
  font-family: FreightSansProMedium;
  src: url(../fonts/FreigSanProMed.otf);
}

@font-face {
  font-family: FreightSansProSemibold;
  src: url(../fonts/FreigSanProSem.otf);
}

/* GENERAL ELEMENTS ------------------------------------------------------------------------ */
/* line 84, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 87, ../sass/style.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1.125em;
}

/* NAVIGATION & FOOTER --------------------------------------------------------------------- */
/* line 96, ../sass/style.scss */
#audienceNavigation {
  position: fixed;
  margin: 0;
  top: 0px;
  width: 100%;
  height: 40px;
  box-shadow: 0px -2px 8px #888888;
  background-color: #666361;
  z-index: 1000;
}
/* line 107, ../sass/style.scss */
#audienceNavigation .nav {
  margin: 0 auto;
  overflow: auto;
}
/* line 111, ../sass/style.scss */
#audienceNavigation .nav ul {
  margin-top: 10px;
  margin-left: 160px;
}
/* line 118, ../sass/style.scss */
#audienceNavigation .nav li {
  display: inline;
}
/* line 121, ../sass/style.scss */
#audienceNavigation .nav li a {
  color: #FFFFFF;
  padding-right: 60px;
  font-family: 'FreightSansProBook';
  letter-spacing: .1em;
  font-size: .75em;
  margin: 0;
  text-decoration: none;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
/* line 131, ../sass/style.scss */
#audienceNavigation .nav li a:hover, #audienceNavigation .nav li a:focus {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}

/* line 143, ../sass/style.scss */
#mainNavigation {
  position: relative;
  margin: 0;
  top: 570px;
  width: 100%;
  height: 180px;
  box-shadow: 0px -12px 64px black;
  background-color: #f06011;
  z-index: 1001;
}
/* line 154, ../sass/style.scss */
#mainNavigation .nav {
  margin: 0 auto;
  white-space: -4px;
}
/* line 159, ../sass/style.scss */
#mainNavigation .nav .logo {
  background: url("../images/logoNav.png") 0 0 no-repeat;
  width: 140px;
  height: 180px;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  background-color: green;
  overflow: hidden;
  white-space: normal;
  float: left;
}
/* line 176, ../sass/style.scss */
#mainNavigation .nav ul {
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #ec5300;
  border-right: 1px solid #dc4f04;
}
/* line 183, ../sass/style.scss */
#mainNavigation .nav ul li {
  vertical-align: top;
  float: left;
  height: 100%;
  width: 25%;
  background: url(../images/navArrow.png) no-repeat 10% 80%;
  border: 0px solid;
  border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-width: 0 1px 0 1px;
  box-sizing: border-box;
}
/* line 195, ../sass/style.scss */
#mainNavigation .nav ul li img {
  position: relative;
  left: 10%;
  top: -10px;
}
/* line 196, ../sass/style.scss */
#mainNavigation .nav ul li:first-child {
  border-width: 1px 1px 0 1px;
}
/* line 199, ../sass/style.scss */
#mainNavigation .nav ul li:last-child {
  border-width: 0 0 0 1px;
}
/* line 206, ../sass/style.scss */
#mainNavigation .nav h2 {
  font-family: 'FreightSansProBook';
  font-size: 1.3125em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
/* line 215, ../sass/style.scss */
#mainNavigation .nav aside {
  font-family: 'FreightSansProLight';
  font-size: .875em;
  line-height: 1.1875em;
  height: 80px;
  color: #f0c1a9;
  margin: 10px 20px 0 0;
  margin-left: 10%;
  margin-right: 10%;
}

/* HERO ------------------------------------------------------------------------------------- */
/* line 234, ../sass/style.scss */
#hero {
  width: 100%;
  top: 40px;
  overflow: hidden;
  text-align: center;
  position: fixed;
  z-index: -100;
  height: 530px;
  background: url(../images/diver.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 251, ../sass/style.scss */
#hero .caption {
  position: relative;
  top: 350px;
}
/* line 257, ../sass/style.scss */
#hero .caption h1 {
  font-family: 'FreightSansProSemibold';
  font-size: 5em;
  color: #ffffff;
  margin-bottom: .5em;
}
/* line 266, ../sass/style.scss */
#hero .caption h2 {
  font-family: 'FreightSansProLight';
  font-size: 1.3125em;
  color: #ffffff;
}

/* GRID ----------------------------------------------------------------------------------- */
/* line 277, ../sass/style.scss */
#content {
  position: relative;
  margin: 0px auto;
  margin-top: -90px;
  background: rgba(255, 255, 255, 0.4);
  overflow: auto;
}

/* line 285, ../sass/style.scss */
.column {
  float: left;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}

/* line 290, ../sass/style.scss */
.full {
  width: 100%;
  max-width: 960px;
}

/* line 28, ../sass/style.scss */
.one {
  width: 6.25%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.two {
  width: 14.58333%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.three {
  width: 22.91667%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.four {
  width: 31.25%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.five {
  width: 39.58333%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.six {
  width: 47.91667%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.seven {
  width: 56.25%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.eight {
  width: 64.58333%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.nine {
  width: 72.91667%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.ten {
  width: 81.25%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.eleven {
  width: 89.58333%;
  margin-left: 2.08333%;
}

/* line 28, ../sass/style.scss */
.twelve {
  width: 97.91667%;
  margin-left: 2.08333%;
}

/* line 305, ../sass/style.scss */
.first {
  margin-left: 1.04167%;
}

/* line 309, ../sass/style.scss */
.last {
  margin-right: 1.04167%;
}

/* line 313, ../sass/style.scss */
#sidebar {
  outline-left: 1px solid rgba(26, 33, 39, 0.1);
}

/* TYPOGRAPHY ----------------------------------------------------------------------------- */
/* line 320, ../sass/style.scss */
.leading {
  font-size: 1.3em;
  line-height: 1.4;
}

/* line 323, ../sass/style.scss */
.left {
  min-width: 25%;
  max-width: 40%;
  margin-left: -20%;
  padding-right: 25px;
}

/* line 325, ../sass/style.scss */
.pullQuote p {
  font: 1.3em 'JosefinSlabLightItalic',serif;
  line-height: 1.4;
  text-align: center;
}

/* line 338, ../sass/style.scss */
.forceHeightMin {
  min-height: 1px;
}

/* line 339, ../sass/style.scss */
.forceHeightFull {
  min-height: 100%;
}

/* MEDIA QUERIES --------------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  /* line 344, ../sass/style.scss */
  #mainNavigation {
    position: relative;
    margin: 0;
    top: 220px;
    width: 100%;
    height: 180px;
    box-shadow: 0px -12px 64px black;
    background-color: #f06011;
    z-index: 1001;
  }
  /* line 355, ../sass/style.scss */
  #mainNavigation .nav {
    margin: 0 auto;
    white-space: -4px;
  }
  /* line 360, ../sass/style.scss */
  #mainNavigation .nav ul li {
    float: none;
    width: auto;
    padding: 0 1em;
    line-height: 2.8em;
    height: auto;
    cursor: pointer;
    background: url(../images/navArrow.png) no-repeat 98% 50%;
    border-color: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.1);
    border-width: 1px 0 1px 1px;
  }
  /* line 372, ../sass/style.scss */
  #mainNavigation .nav ul li:hover {
    background-color: #f06011;
  }
  /* line 376, ../sass/style.scss */
  #mainNavigation .nav ul li:first-child {
    border-width: 1px 0 1px 1px;
  }
  /* line 379, ../sass/style.scss */
  #mainNavigation .nav ul li:last-child {
    border-width: 1px 0px 1px 1px;
  }
  /* line 387, ../sass/style.scss */
  #mainNavigation .nav h2 {
    font-family: 'FreightSansProBook';
    font-size: 1em;
    margin: 0;
  }
  /* line 393, ../sass/style.scss */
  #mainNavigation .nav aside {
    display: none;
  }

  /* line 401, ../sass/style.scss */
  #audienceNavigation {
    position: fixed;
    margin: 0;
    top: 0px;
    width: 100%;
    height: 40px;
    box-shadow: 0px -2px 8px #888888;
    background-color: #666361;
    z-index: 1000;
  }
  /* line 412, ../sass/style.scss */
  #audienceNavigation .nav {
    margin: 0 auto;
    overflow: auto;
  }
  /* line 416, ../sass/style.scss */
  #audienceNavigation .nav ul {
    margin-top: 10px;
    margin-left: 20px;
  }
  /* line 423, ../sass/style.scss */
  #audienceNavigation .nav li {
    display: inline;
  }
  /* line 426, ../sass/style.scss */
  #audienceNavigation .nav li a {
    color: #FFFFFF;
    padding-right: 10%;
    font-family: 'FreightSansProBook';
    letter-spacing: .1em;
    font-size: .75em;
    margin: 0;
    text-decoration: none;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
  }
  /* line 436, ../sass/style.scss */
  #audienceNavigation .nav li a:hover, #audienceNavigation .nav li a:focus {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
  }

  /* line 447, ../sass/style.scss */
  #hero {
    width: 100%;
    top: 40px;
    overflow: hidden;
    text-align: center;
    position: fixed;
    z-index: -100;
    height: 180px;
    background: url(../images/diver.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* line 464, ../sass/style.scss */
  #hero .caption {
    position: relative;
    top: 350px;
  }
  /* line 470, ../sass/style.scss */
  #hero .caption h1 {
    font-family: 'FreightSansProSemibold';
    font-size: 5em;
    color: #ffffff;
    margin-bottom: .5em;
  }
  /* line 479, ../sass/style.scss */
  #hero .caption h2 {
    font-family: 'FreightSansProLight';
    font-size: 1.3125em;
    color: #ffffff;
  }
}
/*
@media screen and (max-width: 650px) {
      
      #nav{ 
            text-align:center; 

            ul {
                  width:            100%;
                  margin:           0;
            }

            li {
                  display:          block;
                  padding-top:      10px;
                  padding-bottom:   10px;
                  border-top:       1px dotted #000;
                  margin:           0;
                  overflow:         hidden;
            }
      }


      #hero {
            margin-top:0;
            height:500px;
      }

      #navigationWrap{
            position:relative;
      }

      .singleColumn {
            width:90%;
            margin-left: 5%;
            margin-right: 5%;
      }

      #story > p {
            font-size:1.1em;
      }
      
      #quote, #story, #sidebar {
            @extend .singleColumn;
      }

      
}
*/
