// VARS ------------------------------------------------------- */

$linkColor:salmon;
$darkBlue: #1a2127;
$borderColor: rgba(26,33,39,.1);

// RESET ------------------------------------------------------- */
@import "compass/reset";

// MIXINS ------------------------------------------------------- */


// Creates a grid given the following params
//
// $p_gridList:    a list of class names to name the generated columns
// $p_gridList:    a width of the total grid including the left and right margins
// $p_columnWidth: width of a column
// $p_gutterWidth: width of a gutter

@mixin creatGrid($p_gridWidth:960px, $p_columnWidth:60px, $p_gutterWidth:20px, $p_gridList:null, $p_outline:false ){
     
     //if no grid list is supplied, we default to a 12 column grid
     @if $p_gridList == null { 
          $p_gridList:(one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve);
     }

     @for $i from 1 through length($p_gridList) {
            .#{ nth( $p_gridList, $i ) }{
                  width:  (( $i * $p_columnWidth + ( ($i - 1) * $p_gutterWidth ) ) / $p_gridWidth)*100%;
                  margin-left:( $p_gutterWidth / $p_gridWidth )*100%;
                  @if $p_outline == true {
                        outline: 1px solid red;
                  }
            }
      } 
}

// Automate @font-face
//
// $p_fontData:    a list with nested list of (font-family, url)
//                 ( ( fontLabel, url ), ... ( fontLabel, url ) );
@mixin addFontFace( $p_fontData ){
      @for $i from 1 through length($p_fontData) {

            $fontData:  nth( $p_fontData, $i);
            $label:     nth( $fontData,   1 );
            $url:       nth( $fontData,   2 );

            @font-face {
                  font-family: #{ $label };
                  src:         url(#{ $url });
            }
      }
}

@mixin targetScale( $targetScale ){
      -ms-transform:          scale($targetScale); // IE 9 */
      -moz-transform:         scale($targetScale); // Firefox */
      -webkit-transform:      scale($targetScale); // Safari and Chrome */
      -o-transform:           scale($targetScale); // Opera */
      transform:              scale($targetScale);
}

@mixin transitionTo( $target, $s, $ease ){
      -moz-transition:        $target $s $ease; // Firefox 4 */
      -webkit-transition:     $target $s $ease; // Safari and Chrome */
      -o-transition:          $target $s $ease; // Opera */
      -webkit-transition:     $target $s $ease;
}

/* FONTS ------------------------------------------------------- */
$fontList:  (( FreightSansProLight,   "../fonts/FreigSanProLig.otf"         ),
             ( FreightSansProBook,    "../fonts/FreigSanProBook.otf"        ),
             ( FreightSansProMedium,  "../fonts/FreigSanProMed.otf"         ),
             ( FreightSansProSemibold,"../fonts/FreigSanProSem.otf"     )
             );

@include addFontFace( $fontList );


/* GENERAL ELEMENTS ------------------------------------------------------------------------ */
//*{ outline:1px solid red}

a{    text-decoration:none; }


body { 
      font-family:Helvetica, Arial, sans-serif;
      font-size:100%;
      background-color:rgba(255,255,255,.1);
      line-height:1.125em;
} 

/* NAVIGATION & FOOTER --------------------------------------------------------------------- */

//audience nav should be fixed position until the hero is out of view
#audienceNavigation{

      position:               fixed;
      top:                    0px;
      width:                  100%;
      height:                 40px;
      background-color:       rgba(102,99,97,1);

      div {
            margin:           0 auto;
            overflow:         auto; // key for div not collapsing 
            
            ul {
                  
                  margin-left:      160px;

            }

            li {  
                  padding-top:       10px;
                  padding-left:       30px;
                  padding-right:      30px;
                  display:          inline-block;  
                  height: 30px;
                  a {
                        font-family:            'FreightSansProBook';
                        letter-spacing:         .1em;
                        font-size:              .75em;
                        color:                  #fff;
                        //margin-right:           60px; 
                        @include transitionTo(  all, 0.2s, linear);


                  }

                  &:hover, &:focus{
                        background:       rgba(0,0,0,.4);
                  }
            }

      }
}



#mainNavigation{
      position:               relative;
      margin:                 0;
      margin-top:                    570px;
      width:                  100%;
      height:                 180px;
      box-shadow:             0px -12px   64px #000;
      background-color:       rgba(240,96,17,1);
      z-index:1001;

      //clean up this nav, it's duplicated in the audience nav
      div{
            margin:                 0 auto;
            white-space:-4px;
            //overflow:               auto; // key for div not collapsing 
         
            .logo {
                  background: url("../images/logoNav.png") 0 0 no-repeat;
                  width:                    140px;
                  height:                   180px;
                  text-indent: 100%;
                  white-space: nowrap;
                  overflow:hidden;
                  float:left;
            }

            ul {  
                  position: relative;
                  height: 100%;
                  overflow: hidden;
                  background-color:#ec5300;
                  border-right:1px solid #dc4f04;

                  li {  
                        vertical-align: top;
                        float:  left;
                        height: 100%;
                        width:25%;
                        background:url(../images/navArrow.png) no-repeat 10% 80% ;
                        border: 0px solid;
                        border-color: rgba(255,255,255,0.2) rgba(255,255,255,0.2) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
                        border-width:0 1px 0 1px;
                        box-sizing: border-box;
                        
                        //background:url(../images/dividerStroke.png) repeat-y 0% 80%;
                        img { position:relative;  left:10%; top:-10px; }
                        &:first-child {
                              border-width:0px 1px 0 1px;
                        }
                        &:last-child {
                              border-width:0 0 0 1px;
                        }

                        &:hover, &:focus{
                              background: rgba(0,0,0,.05) url(../images/navArrow.png) no-repeat 10% 80% ;
                        }
                  }

            }

            h2{   
                  font-family: 'FreightSansProBook';
                  font-size:              1.3125em;
                  color: #FFFFFF;
                  margin-top:30px; 
                  margin-left:10%;
                  margin-right:10%;
            }

            aside {
                  font-family: 'FreightSansProLight';
                  font-size:  .875em;
                  line-height: 1.1875em;
                  height:80px;
                  color: #f0c1a9;  
                  margin:10px 20px 0 0;
                  margin-left:10%;
                  margin-right:10%;
            }

      }
}




/* HERO ------------------------------------------------------------------------------------- */

#hero {
      width:                  100%;
      top:                    40px;
      overflow:               hidden;
      text-align:             center;

      position:               fixed;
      z-index:                -100;
      height:                 530px;
      //margin:auto;

      background: url(../images/diver.png) no-repeat center center ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .caption {

            position:relative;
            top:350px;
             

            h1 {
                  font-family: 'FreightSansProSemibold';
                  font-size:   5em;
                  color: #ffffff;
                  margin-bottom:.5em; 
                  //letter-spacing:.1em;
                  
            }

            h2 {
                  font-family: 'FreightSansProLight';
                  font-size:   1.3125em;
                  color: #ffffff; 
            }
      }
}


/* GRID ----------------------------------------------------------------------------------- */

#wrapper{
      width:100%;
      background-color:#fff;

}

#content{
      position:relative;
      margin:                 0px auto;
      //margin-top:             -90px;
      background:       rgba(255,255,255,.4);
      overflow:               auto; // key for div not collapsing */
      height: 3000px;
      background-color:white;
}

.column {
      float:                  left;
      @include transitionTo(  all, .25s, ease);
}

.full {
      width:                  100%;
      max-width:              960px;
}

//Grid definition
$gridList:(one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve);
$gridWidth:960px;
$gridMargin:10px;
$columnWidth:60px;
$gutterWidth:20px;

@include creatGrid( $gridWidth, $columnWidth, $gutterWidth, $gridList, false );

//the definitions of these have to be after the grid system, otherwise they arfe overwritten
.first{
      margin-left:( $gridMargin / $gridWidth )*100%;
}

.last{
      margin-right:( $gridMargin / $gridWidth )*100%;
}

#sidebar {
      outline-left:1px solid rgba(26,33,39,.1);

 
}

/* TYPOGRAPHY ----------------------------------------------------------------------------- */
.leading { font-size:1.3em; line-height:1.4;}


.left {  min-width:25%; max-width:40%; margin-left:-20%; padding-right:25px}
//.right { position:relative;  margin-left:-50%;  min-height:1px; }
.pullQuote p{
      font:                   1.3em 'JosefinSlabLightItalic',serif;
      line-height:            1.4;
      text-align:             center;
      //position:relative;
      //outline:1px solid red;
      //left:150px;
      //margin-left:150px;
      //padding-top:            15px;
      //border-top:             5px solid;
}


.forceHeightMin  { min-height:1px}
.forceHeightFull { min-height:100%}

/* MEDIA QUERIES --------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
      #mainNavigation{
            position:               relative;
            margin:                 0;
            top:                    220px;
            width:                  100%;
            height:                 180px;
            box-shadow:             0px -12px   64px #000;
            background-color:       rgba(240,96,17,1);
            z-index:1001;




            //clean up this nav, it's duplicated in the audience nav
            div{
                  margin:                 0 auto;
                  white-space:-4px;

                  ul {  
                        li {  
                             float:none;
                             width:auto;
                             padding:0 1em;
                             line-height: 2.8em;
                             height: auto;
                             cursor:pointer;
                             background:url(../images/navArrow.png) no-repeat 98% 50%;
                             
                              border-color: rgba(0,0,0,0.1) rgba(255,255,255,0.2) rgba(255,255,255,0.2) rgba(0,0,0,0.1);
                              border-width: 1px 0 1px 1px;

                             &:hover {
                                    background-color:       rgba(240,96,17,1);
                             }

                              &:first-child {
                                    border-width:0px 0 1px 1px;
                              }
                              &:last-child {
                                    border-width:1px 0px 1px 1px;
                              }

                        }

                  }

                  h2{   
                        font-family: 'FreightSansProBook';
                        font-size:              1em;
                        margin:0;
                  }

                  aside {
                        display:none;
                  }

            }
      }


      #audienceNavigation{
            position:               fixed;
            margin:                 0;
            top:                    0px;
            width:                  100%;
            height:                 40px;
            box-shadow:             0px -2px 8px #888;
            background-color:       rgba(102,99,97,1);
            z-index:1000;

            //clean up this nav, it's duplicated in the main nav
            div {
                  margin:           0 auto;
                  overflow:         auto; // key for div not collapsing 
         
                  ul {
                        margin-top:       10px;
                        margin-left:      20px;
                        //margin-left:      2.08333333333%; // (  20 / 960 ) * 100 
                        // float:            left;
                  }

                  li {  
                        display:          inline;  

                        a {
                              color:                  #FFFFFF;
                              padding-right:           10%;  
                              font-family:            'FreightSansProBook';
                              letter-spacing:         .1em;
                              font-size:              .5em;
                              margin:                 0;
                              text-decoration:        none;
                              @include transitionTo(  all, 0.2s, linear);

                              &:hover, &:focus{
                                    color:            #fff;
                                    background:       rgba(0,0,0,.4);
                              }
                        }
                  }

            }
      }


#hero {
      width:                  100%;
      top:                    40px;
      overflow:               hidden;
      text-align:             center;

      position:               fixed;
      z-index:                -100;
      height:                 180px;
      //margin:auto;

      background: url(../images/diver.png) no-repeat center center ; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .caption {

            position:relative;
            top:350px;
             

            h1 {
                  font-family: 'FreightSansProSemibold';
                  font-size:   5em;
                  color: #ffffff;
                  margin-bottom:.5em; 
                  //letter-spacing:.1em;
                  
            }

            h2 {
                  font-family: 'FreightSansProLight';
                  font-size:   1.3125em;
                  color: #ffffff; 
            }
      }
}


}

/*
@media screen and (max-width: 650px) {
      
      #nav{ 
            text-align:center; 

            ul {
                  width:            100%;
                  margin:           0;
            }

            li {
                  display:          block;
                  padding-top:      10px;
                  padding-bottom:   10px;
                  border-top:       1px dotted #000;
                  margin:           0;
                  overflow:         hidden;
            }
      }


      #hero {
            margin-top:0;
            height:500px;
      }

      #navigationWrap{
            position:relative;
      }

      .singleColumn {
            width:90%;
            margin-left: 5%;
            margin-right: 5%;
      }

      #story > p {
            font-size:1.1em;
      }
      
      #quote, #story, #sidebar {
            @extend .singleColumn;
      }

      
}
*/

